<ion-header collapse="fade" class="ion-no-border">
  <ion-toolbar color="primary">
    <div class="container mx-auto flex flex-col gap-3 pt-5 px-10">
      <section class="flex justify-between items-center">
        <ion-title class="text-black text-2xl font-bold">N.H.Farid</ion-title>
        <div class="flex items-center gap-5">
          <ion-icon
            name="search-outline"
            class="text-black text-2xl"
          ></ion-icon>
          <ion-icon name="moon-outline" class="text-black text-2xl"></ion-icon>
          <ion-icon
            name="person-circle-outline"
            class="text-black text-2xl"
          ></ion-icon>
        </div>
      </section>
      <!-- Social Media Section -->
      <section class="flex items-center justify-between">
        <!-- icons -->
        <div class="">
          <ion-button
            fill="clear"
            shape="round"
            class="hover:bg-gray-200 transition-all duration-200 rounded-full"
          >
            <ion-icon
              slot="icon-only"
              name="logo-x"
              class="text-gray-700 text-base"
            ></ion-icon>
          </ion-button>
          <ion-button
            fill="clear"
            shape="round"
            class="hover:bg-gray-200 transition-all duration-200 rounded-full"
          >
            <ion-icon
              slot="icon-only"
              name="logo-instagram"
              class="text-gray-700 text-xl"
            ></ion-icon>
          </ion-button>

          <ion-button
            fill="clear"
            shape="round"
            class="hover:bg-gray-200 transition-all duration-200 rounded-full"
          >
            <ion-icon
              slot="icon-only"
              name="logo-github"
              class="text-gray-700 text-xl"
            ></ion-icon>
          </ion-button>
          <ion-button
            fill="clear"
            shape="round"
            class="hover:bg-gray-200 transition-all duration-200 rounded-full"
          >
            <ion-icon
              slot="icon-only"
              name="logo-facebook"
              class="text-gray-700 text-xl"
            ></ion-icon>
          </ion-button>

          <ion-button
            fill="clear"
            shape="round"
            class="hover:bg-gray-200 transition-all duration-200 rounded-full"
          >
            <ion-icon
              slot="icon-only"
              name="logo-twitter"
              class="text-gray-700 text-xl"
            ></ion-icon>
          </ion-button>

          <ion-button
            fill="clear"
            shape="round"
            class="hover:bg-gray-200 transition-all duration-200 rounded-full"
          >
            <ion-icon
              slot="icon-only"
              name="logo-pinterest"
              class="text-gray-700 text-xl"
            ></ion-icon>
          </ion-button>

          <ion-button
            fill="clear"
            shape="round"
            class="hover:bg-gray-200 transition-all duration-200 rounded-full"
          >
            <ion-icon
              slot="icon-only"
              name="logo-linkedin"
              class="text-gray-700 text-xl"
            ></ion-icon>
          </ion-button>
        </div>
        <!-- Follow and email -->
        <div class="flex items-center gap-5">
          <ion-button color="secondary" class="h-10">
            <ion-icon
              slot="start"
              name="person-add-outline"
              class="text-white text-base"
            ></ion-icon>
            <span class="text-white text-sm ml-1">Follow</span>
          </ion-button>
          <ion-button
            fill="clear"
            shape="round"
            class="hover:bg-gray-200 transition-all duration-200 rounded-full border-2 border-[#3a72ed] px-[10px]"
          >
            <ion-icon
              slot="icon-only"
              name="mail-outline"
              class="text-[#3a72ed] text-xl"
            ></ion-icon>
          </ion-button>
        </div>
      </section>
      <!-- Navigation Menu -->
      <section class="flex items-center">
        <ion-toolbar color="primary">
          <ion-segment class="flex">
            <ion-segment-button value="home">
              <ion-label>Home</ion-label>
            </ion-segment-button>
            <ion-segment-button value="newsletter">
              <ion-label>Newsletter</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-toolbar>
      </section>
    </div>
  </ion-toolbar>
</ion-header>
