<ion-content class="" color="primary">
  <div class="pt-48">
    <hr />
    @defer (when !isLoading) {
    <div class="grid grid-cols-3 gap-4 p-5">
      @for (blog of blogList; track blog.id) {
      <app-blog-card [blog]="blog"></app-blog-card>
      }
    </div>
    } @placeholder {
    <ion-list class="ion-padding-top">
      @for (i of dummyArray; track i) {
      <ion-item lines="none" class="ion-padding-bottom">
        <ion-avatar slot="start">
          <ion-skeleton-text
            animated
            style="width: 40px; height: 40px"
          ></ion-skeleton-text>
        </ion-avatar>
        <ion-skeleton-text animated style="height: 40px"></ion-skeleton-text>
      </ion-item>
      }
    </ion-list>
    } @error {
    <ion-alert
      header="Error"
      [message]="error"
      isOpen="true"
      [buttons]="['Ok']"
    ></ion-alert>
    } @loading(minimum 2s) {
    <p class="flex items-center justify-center gap-2 mx-auto pt-20">
      <ion-spinner color="secondary"></ion-spinner>
      Blogs are loading...
    </p>
    }
  </div>
</ion-content>
